name: solidity-tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  solidity:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: blockchain
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: npm install

      - name: Test
        run: npx hardhat test
